# Mr. Advice appveyor.yml script

version: '{branch}-{build}'
image: Visual Studio 2022

branches:
  only:
    - fody
    - master
 
install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"
before_build:
  - cmd: dotnet --version
  - nuget restore MrAdvice.sln

configuration: Release

build:
  parallel: true
  project: MrAdvice.sln
  publish_nuget: false
  publish_nuget_symbols: false
  verbosity: minimal

test:
  assemblies:
    - '**\*Test.exe'
    - '**\*Test.dll'

artifacts:
  - path: 'MrAdvice.Weaver\bin\$(configuration)\*.nupkg'

deploy:
  provider: NuGet
  api_key:
    secure: fX84lcGQkh0YeCki2iAw6wbRemKLBjiB91HYKKK2vgd+mS9qxnJJ73cJp8FcuafF
  skip_symbols: false

after_test:
  ps: Get-ChildItem .\*.nupkg | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
