<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blobber" version="0.5.7.2" targetFramework="net45" developmentDependency="true" />
  <package id="Clarius.TransformOnBuild" version="1.1.12" targetFramework="net4-client" developmentDependency="true" />
  <package id="StitcherBoy" version="0.10.1" targetFramework="net45" />
</packages>